@use "shepherd-defaults";
@use "shepherd-custom";

[data-tildes-shepherd-counter] {
  position: relative;

  &::before {
    align-items: center;
    border: 1px solid var(--alert-color);
    border-radius: 100%;
    color: var(--alert-color);
    content: attr(data-tildes-shepherd-counter);
    display: inline-flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    height: 1rem;
    justify-content: center;
    position: relative;
    width: 1rem;
  }
}
